<!DOCTYPE html>
<html>
    <head>
        <title>Расчет стоимости услуг ЖКХ</title>
        <% include ../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="right-menu">
            <a href="./tarif">Тарифы</a>
            <br/>
            <a href="./history">История</a>
        </div>
        <form class="count-money">
            <p class="meter-item">
               Горячая вода:
               <input type="number" class="meter-value" name="hot"/>
            </p>
            <p class="meter-item">
               Холодная вода:
               <input type="number" class="meter-value" name="cold"/>
            </p>
            <hr/>
            <p class="meter-item">
               Т1
               <input type="number" class="meter-value" name="t1"/>
            </p>
            <p class="meter-item">
               Т2
               <input type="number" class="meter-value" name="t2"/>
            </p>
            <p class="meter-item">
               Т3
               <input type="number" class="meter-value" name="t3"/>
            </p>
            
            <input type="button" value="Рассчитать" name="submit-button" class="submit-button"/>
        </form>
        <div class="result hidden">
            Результат:
            <div class="result-content"></div>
        </div>
        <script src="http://yastatic.net/jquery/1.8.3/jquery.min.js"></script>
        <script src="/js/meter-submit.js"></script>
    </body>
</html>